<!DOCTYPE html>
<html>
  <head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= yield :head %>
  <title>MealPlanner</title>
  </head>

  <body>
    <%= render "shared/nav" %>
    <%= render "shared/wrapper" do -%>
    <%= yield %>
    <% end -%>
  </body>
</html>
